<nav class="top-nav">
  <div class="nav-box-img">
    <img src="/assets/native-blue.png" alt="use the force">
  </div>
  <div class="nav-box">
    <h2>{{ site.name }}</h2>
    <a class="nav-item" href='/'><i class="fa fa-home"></i></a>
    <a class="nav-item" href='/tags'><i class="fa fa-tag"></i></a>
    <a class="nav-item" href='/about'><i class="fa fa-address-card"></i></a>
    <a class="nav-item" href="https://github.com/banaboi" target="_blank"><i class="fa fa-github"></i></a>
  </div>
</nav>
